/* Estilos de la cabecera*/

nav {
    background-color:#0396a7; 
}

nav a {
    text-decoration: none;
    background-color:none;
    color:none;
    padding: 10px 15px;
    display:inline-flex ;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 16px; 
    text-transform: uppercase; 
    justify-content: right;
    align-items: flex-start;
}

nav ul {
    background-color:#0396a7;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display:inline-flex; 
    color:#ffffff; /*coloco color a las letras*/
    justify-content:left; /* Distribuye el espacio entre los elementos de la lista */
    align-items:flex-start; /* Centra verticalmente los elementos de la lista */
}

header {
    background-color:#024059;
    padding: 20px;
    border-color: none;
    margin: 0;
}

.header-container {
    display:inline-flex;
    align-items:flex-start;
    align-content: flex-start;
    background-color:#024059;
    font-family: 'Exo 2', sans-serif;
}

.container {
    background-color:#0396a7;
    display:inline-flex;
    justify-content:space-between;
    width: 50%;
    max-width: 50px;
    margin: 0 auto;
    color:#03d9d9;  
}
   
.container-fluid{
    background-color: #024059;
    padding: auto;
    text-decoration-color:#d7d9d8;
    color:#d7d9d8;
}
.navbar-brand{
    background-color: #024059;
    color: #024059;
}

.logo img {
    justify-content: left;
    max-width: 100%;
    height: auto;
    background-color:#024059;
    color:#024059;
}


/*logo de la empresa*/
.logo-2{
    background-color: #0396a7;
}

 /* centro todo lo que esta la seccion main productos*/
 .centro {
    width: 80%;
    margin: 10%;
    margin-top: 100px;

}

.centro h1 {
    color:#0396a7;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.centro h2 {
    color:#3c3c3b;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-transform: capitalize;
}

.centro p {
    color:#3c3c3b;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.centro li {
    color:#3c3c3b;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 14px;
    list-style: none;
}

/*centro los box de ingreso de datos*/
.pedidos {
    margin-bottom: 10%;
}

.pedidos li {
    width: 30%;
    margin-top: 20px 0;
    margin: 50px 10px;
    text-align:left;
    line-height: 1px; /*coloca un interlineado en el menu*/
    margin-left: 30%; 
}

.pedidos button {
    margin: 0 450px;
    margin-top: 30px 0;
    width: 20%;
    margin-left: 30%;
    font-weight: 600;
    border-radius: 10px;
    color:#d7d9d8;
    background-color:#024059;
    
}

.pedidos button:hover {
    background-color:#0396a7;
}

/* Estilos en la seccion footer*/

footer {
    background-color:#0396a7; /* Fondo azul */
    color:#ffffff;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;  /*Agrega un relleno de 20px arriba y abajo, sin relleno a la izquierda y a la derecha */
}

 /*menu de la empresa*/
 .footer-links ul {
    list-style: none;
    color: #ffffff;
    display: block;
    text-align:left;
    line-height: 1,5%; /*coloca un interlineado en el menu*/
    margin-left:-60%; /*centra el menu al lado del logo*/
    position: absolute;
}

/*datos sociales de la empresa*/
.social-icons ul {
    list-style: none;
    text-align:left;
    display: block;
    line-height: 1,5%;
    margin-left: 70%;
    max-width: 60%;
    margin-top: -20%;
    position: absolute;
}

.centro {
    width: 80%;
    margin: 10%;
}

.partners ul {
    display: block;
    margin: auto;
}

/*alineo la opcion de redes sociales*/
.iconos ul {
    display:inline-flex; /*coloca en linea los inconos*/
    list-style: none;
    margin-left: 70%;
    max-width: 60%;
    margin-top: -10%;
    position:absolute;
}


/*le coloco un tamaño al logo*/
.logo-2 {
    width: 20%;
    margin: 10%;
    position: relative;
}

/*organizo los datos de la parte inferior*/
.parte_inferior {
    position: relative;
    height: 40px;
    background-color: #024059;
    text-align: center;
}

.mi-seccion {
    background-color:#1d1d1b;
    text-align: center;
    color:#ffffff;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 1px;
}

.letras{
    color:#ffffff
}